In [10]:
head(mtcars, 10)
names(mtcars)

                  mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
Duster 360        14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
Merc 240D         24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
Merc 230          22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
Merc 280          19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4

 [1] "mpg"  "cyl"  "disp" "hp"   "drat" "wt"   "qsec" "vs"   "am"   "gear"
[11] "carb"

In [39]:
s = "'mpg' 'cyl' 'disp' 'hp' 'drat' 'wt' 'qsec' 'vs' 'am' 'gear' 'carb'"
column_names = strsplit(s, "'")[[1]]
column_names = column_names[column_names!=" " & column_names!=""]
# column_names!=" "
print(column_names)
# mode(column_names)
column_names[1]

 [1] "mpg"  "cyl"  "disp" "hp"   "drat" "wt"   "qsec" "vs"   "am"   "gear"
[11] "carb"

[1] "mpg"

In [35]:
mode(c('1','2','3'))
mode(c(1,2,3))
mode('2')
mode(2)

[1] "character"

[1] "numeric"

[1] "character"

[1] "numeric"

In [42]:
columns_keep = c("mpg", "wt", "am")
setdiff(column_names, columns_keep)
mtcars_samples = mtcars[, columns_keep]
head(mtcars_samples, 10)

[1] "character"

                  mpg  wt    am
Mazda RX4         21.0 2.620 1
Mazda RX4 Wag     21.0 2.875 1
Datsun 710        22.8 2.320 1
Hornet 4 Drive    21.4 3.215 0
Hornet Sportabout 18.7 3.440 0
Valiant           18.1 3.460 0
Duster 360        14.3 3.570 0
Merc 240D         24.4 3.190 0
Merc 230          22.8 3.150 0
Merc 280          19.2 3.440 0

In [43]:
union(c(1,2), c(3,4))

[1] 1 2 3 4

In [48]:
colnames(mtcars)

 [1] "mpg"  "cyl"  "disp" "hp"   "drat" "wt"   "qsec" "vs"   "am"   "gear"
[11] "carb"

In [46]:
mode(names(mtcars))

[1] "character"

In [49]:
seq_len(5)

[1] 1 2 3 4 5

In [64]:
temp = data.frame(
    sample_detail_id = rep('a', 2),
    qu_sample_detail_id = rep('b', 2)
)
# temp['meta_category_name'] = rep('c', 2)
temp$meta_category_name = rep('c', 2)


temp

  sample_detail_id qu_sample_detail_id meta_category_name
1 a                b                   c
2 a                b                   c

In [61]:
a = data.frame(
    sample_detail_id = rep('a', 2)
)
a

  sample_detail_id
1 a
2 a

In [58]:
rbind(a, temp)

  sample_detail_id qu_sample_detail_id meta_category_name
1 a                b                   c
2 a                b                   c
3 a                b                   c
4 a                b                   c

In [59]:
columns_keep = c("sample_detail_id", "qu_sample_detail_id", "query", "rank", "sale_type", "sort_type", "category_id", 
                 "x_worker_id", "global_filter", "aspects", "recall", "recall_scraping", "item_id", "meta_category_name", "leaf_cats", "score", "avg_score",
                 "num_judges", "num_good", "num_missing", "is_good_avg", "is_good_mvote", "search_item_type")

In [62]:
length(columns_keep)

[1] 23

In [66]:
a = c(1,2,3)
b = c(3,4,5)
intersect(a, b)
setdiff(b, a)

[1] 3

[1] 4 5

In [67]:
a = c('1', '2', '3')
paste0(a, '_')

[1] "1_" "2_" "3_"

In [74]:
'mismatch' %in% 'mismatch_type_search_module_pl_type_grp'

[1] FALSE

In [2]:
ifelse(FALSE, print('HA'),print("Yeah"))

[1] "Yeah"

[1] "Yeah"

In [3]:
if (FALSE){
    print('Ha?')
} else {
    print('Yeah!')
}

[1] "Yeah!"

In [1]:
a = list(tkk = 2.5, wqq = 5.9)
print(a)

$tkk
[1] 2.5

$wqq
[1] 5.9

In [2]:
b = unlist(a)
print(b)

tkk wqq
2.5 5.9

In [3]:
mode(b)

[1] "numeric"

In [4]:
names(b)

[1] "tkk" "wqq"

In [5]:
names(a)

[1] "tkk" "wqq"

In [8]:
b[1]

tkk
2.5

In [1]:
ct <- data.frame(X = factor(c("Yes", "Yes", "No", "Not Sure", "No"), levels = c("Yes", "No", "Not Sure")),
                 Y =  factor(c("Yes", "No", "No", "Yes", "No"), levels = c("Yes", "No")))

ct

  X        Y
1 Yes      Yes
2 Yes      No
3 No       No
4 Not Sure Yes
5 No       No

In [2]:
ftable(ct)

         Y Yes No
X
Yes          1  1
No           0  2
Not Sure     1  0